/* Cart.css */

.cart-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cart-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  .cart-item-image:hover{
    transform: scale(1.02); /* Slightly enlarge the card on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .cart-item-price {
    display: block;
    margin: 5px 0;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity-button {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    margin: 0 5px;
  }
  
  .quantity-button:hover {
    background-color: #ddd;
  }
  
  .cart-item-quantity-input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
  }
  
  .cart-item-remove-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .cart-item-remove-button:hover {
    background-color: #c62828;
  }
  
  .empty-cart-container {
    text-align: center;
    padding: 20px;
  }
  
  .empty-cart-image {
    width: 150px;
    height: auto;
    margin-top: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .checkout-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .checkout-button:hover {
    background-color: #388e3c;
  }
  